<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" id="main-title"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
<div class="container">
  <div class="row starter-template">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
              <div class="line-preserve"><h3>React site timer: </h3></div><div class="line-preserve" id="timer-component" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div style="font-size: 20px;">Custom react typeahead component which configured to source Wikipedia entries
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <h1><div id="main-title"/></h1>
                <div id="wikiSearch" />
              </p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="width: 100%">
                 <div id="selectedContent"></div>
            </div>  
        </div>
      </div>
  </div>
</div> 